<% content_for :header do %>
  <a id="finishButton" href="#" class="button">Finish!</a>
<% end %>

<div class="pager clearfix">
  <ul>
    <% (1..20).each do |num| %>
      <li class="<%= num < 10 ? 'digit' : '' %> <%= num % 4 == 0 ? '' : 'answered' %> <%= num == 9 ? 'current' : '' %>" >
        <%= num %>
      </li>
    <% end %>
  </ul>
</div>


<div class="step" id="step">
  <div class="question">
    <h2>
      <%= @current_question.text %>
    </h2>
  </div>

  <ul class="answers clearfix">

    <% @current_question.answers.each do |answer| %>
      <li data-answer-id="<%= answer['id'] %>" class="answer">
        <%= answer['text'] %>
      </li>
    <% end %>

  </ul>

  <div class="buttons clearfix">
    <a href="#" id="skipButton" class="button">Skip</a>
    <a href="#" id="continueButton" class="button spotlight">Continue →</a>
  </div>

</div>
